<%- include('../includes/head.ejs') %>

<body>
  <%- include('../includes/navigation.ejs') %> <% if (products.length > 0) { %>
  <% for (let product of products) { %>
  
      <div class="row justify-content-center  mx-5 px-5">
        <nav class="navbar navbar-light bg-light mt-3">
            <div class="container-fluid">
        <div class="col">
          <h1 class="navbar-brand text-center">
            <%= product.productId.title %>
          </h1>
        </div>
        <div class="col">
          <h3 class="navbar-brand text-start">
            Quantity: <%= product.quantity %>
          </h3>
        </div>
        <div class="col">
          <form 
          action="/cart/<%= product.productId._id %>/delete"
          method="POST"
          class="d-flex">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <button class="btn btn-danger">Remove</button>
          </form>
        </div>
      </div>
    </div>
  </nav>
  <% } %>
  <hr />
  <div class="d-flex justify-content-center">
    <form 
    action="/cartOrder"
    method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <button class="btn btn-outline-warning btn-lg">Order</button>
    </form>
  </div>
  <% } else {%>
  <h2>No products in Cart!</h2>
  <% } %> <%- include('../includes/footer.ejs') %>
</body>
